<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>

    <title><%= @title || "Student Information System"%></title>
  </head>
<body>
 
  <img src="image/main_menu.jpg" height="350" width="700" align="center">
  <br>
  <br>

	<ul align="center">

		<li><a href='/'>Home</a></li>
		<li><a href='/about'>About</a></li>
		<li><a href='/contact'>Contact</a></li>
		<li><a href='/students'>Students</a></li>
		<li><a href='/comments'>Comment</a></li>
		<li><a href='/video'>Video</a></li>
		<li><a href='/login'>Login</a></li>
	</ul>

<h3>About: Student Information System</h3>


<li>For students, the application will be able to:   
- show all of the students, and with "add new student" button on the  
same page, and click each student will display information for this student
- for each student info, be able to go back to list of studnet, click edit button to edit this student and click delete button to delete this student
 </li>
<br>
 <hr>

<li>For comment, the application will be able to:   
- show all the comment (with timestamp)  - create new comment
- show a specific comment (by clicking on it), with name, time created, and comment content 
 </li>


</body>
</html>