<html>
  <head>
    <link href="/style.css" rel='stylesheet', type='text/css'>

    <title><%= @title || "Student Information System"%></title>
  </head>
<body>

  <img src="image/main_menu.jpg" height="350" width="700" align="center">
  <br>
  <br>
		<ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
			<li><a href='/students'>Students</a></li>
			<li><a href='/comments'>Comment</a></li>
			<li><a href='/video'>Video</a></li>
			<li><a href='/logout'>Logout</a></li>
		</ul>

<h3>List of Comments</h3> <% @comments.to_a.each do |comment| %>

<a href='/comments/<%= comment.comment_id %>/viewdetails'><%= comment.comment %> - <%= comment.created_at %></a>
<% end %>

<div>
	<br>
		<form action='/comments/new' align = "center">
		<input type="submit" value = "CREATE A NEW COMMENT"></form>
</div>

</body>
</html>