<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Student Information System"%></title>
  </head>
<body>

  <img src="image/main_menu.jpg" height="350" width="700" align="center">
  <br>
  <br>

	<ul>
		<li><a href='/'>Home</a>  </li>
		<li><a href='/about'>About</a>  </li>
		<li><a href='/contact'>Contact</a>  </li>
		<li><a href='/students'>Students</a>  </li>
		<li><a href='/comments'>Comment</a>  </li>
		<li><a href='/video'>Video</a>  </li>
		<li><a href='/login'>Login</a>  </li>
  </ul>
  
  	<h3>Contact:</h3>
	<p>For any asistance please email at ukanpara@scu.edu</p>

</body>
</html>
