<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Student Information System"%></title>
  </head>
<body>
  
  	 <h2 align="center">Student Information System</h2>
  	<img src="image/main_menu.jpg" height="350" width="700" align="center">
	<br>
	<br>
		<ul>
			<li><a href='/'>Home</a></li>	
			<li><a href='/about'>About</a></li>
			<li><a href='/contact'>Contact</a></li>
			<li><a href='/students'>Students</a></li>
			<li><a href='/comments'>Comment</a></li>
			<li><a href='/video'>Video</a></li>
			<li><a href='/login'>Login</a></li>
		  </ul>
  <br>
  <br>
<h2> About Santa Clara University:</h2>
<p>

Santa Clara University (also referred to as Santa Clara) is a private Jesuit university located in Santa Clara, California. It has 5,435 full-time undergraduate students, and 3,335 graduate students. Founded in 1851, Santa Clara University is the oldest operating institution of higher learning in California,[5] and has remained in its original location for 166 years. The university's campus surrounds the historic Mission Santa Clara de Asis, which traces its founding to 1776. The campus mirrors the Mission's architectural style, and provides a fine early example of Mission Revival Architecture.
</p>
</body>
</html>