<html>
  <head>
    <link href="style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Student Information System"%></title>
  </head>

<body>

   <h2>Student Information System</h2>
  <img src="image/main_menu.jpg" height="350" width="700" align="center">
<br>
<br>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/students'>Students</a></li>
        <li><a href='/comments'>Comment</a></li>
        <li><a href='/video'>Video</a></li>
        <li><a href='/login'>Login</a></li>
    </ul>

  <br>
  <br>

<h4>Password incorrect, Please try again</h4>

    <form action="/login" method='post'>

      Username: <input type='text' name='username'></input>
      <br>
      <br>

      Password: <input type='password' name='password'></input>
      <br>
      <br>

      <input type='submit' name='submit'></input>
    </form>
</body>
</html>